<%- include('header'); -%>
<html lang="en" dir="ltr">

  <body>
    <h1 style="color:#FFD495; display:flex; align-items:center; justify-content:center; margin-top:10rem;" class="animate__rubberBand">Well Done.<i class="fas fa-sign-language"></i></h1>
  </body>
</html>
