<%- include('header'); -%>

<html>

<body>
  <div class="recap">
    <form action="/" method="POST">
      <div class="g-recaptcha" data-sitekey="6LdpzIgjAAAAAJtea3hvXbOkmK8Gy1VPMPAG6BUB"></div>
      <input type="hidden" name="recapstore" value="<%=username%>">
      <input type="hidden" name="ipaddress" value="">
      <br />
      <input type="submit" value="Submit" class="btn btn-primary sign-in">
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    < /body> <
    /html>
